@import '../variables';

.header{
    height: 100vh;
    width: 300px;
    background-color: $black-10;
    display: none;
    box-shadow: 5px 0px 10px $black-400;
    position: absolute;
    @include breakpoint(sm) {
        display: block;
        position: static;
        width: 200px;
    }

    select{
        background-color: black;
    }
}
.headerActive{
    display: block !important;
}

.menuSelect{
    width: 100%;
    border: solid 1px $border-gray;
    border-radius: 2px;
    padding: 5px;
    div {
        display: grid;
        grid-template-columns: auto 20px;
        cursor: pointer;
        p{
            display: block;
        }
        svg{
            display: block;
        }
    }
    ul{
        width: calc(300px - 20px);
        display: block;
        position: absolute;
        margin: 10px;
        //background-color: $black-10;
        /*
        border-radius: 5px;
        border: solid 1px $black;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        */
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/5px 5px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/5px 5px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/5px 5px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/5px 5px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 10px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 4px) no-repeat,
            conic-gradient(from 295deg, transparent 0%, #48abe0 100%);
        border-radius: 5px;
        padding: 6px;
        box-sizing: border-box;
        li{
            padding: 5px;
            cursor: pointer;
            &:hover{
                background-color: $black-400;
            }
        }
        @include breakpoint(sm){
            width: calc(200px - 20px);
        }
    }
}

.menuItems{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    li{
        padding-bottom: 10px;
        a{
            display: block;
            width: 100%;
        }
        li{
            padding-bottom: 0;
            a{
                padding: 5px;
                &::before{
                    content: '';
                    padding-left: 5px;
                }
            }
        }
    }
}

.menuItem{
    &:hover{
        background-color: #78909C;
        color: white;
    }
}

.menuItemActive {
    background-color: #78909C;
    color: white;
}