@import '../../components/normalize';
@import '../../components/variables';

.tableDiv{
    overflow-y: scroll;
    overflow-x: scroll;
    @include breakpoint(md){
        overflow-y:auto;
        overflow-x: auto;
    }
}